.oradores-col-40 {
    float: left;
    width: 40%;
    text-align: center;

    img.orador-img {
        background-color: $gray-color;
        border-radius: 100%;
        width: 200px;
        height: 200px;
        margin-top: $global-margin;
    }
}

.oradores-col-60 {
    float: left;
    width: 60%;
    padding-left: $global-padding;

    div.orador-info {
        margin-top: $global-margin;
    
        a {
            margin-top: $global-margin;
            text-decoration: none;
            
            img.icon-social {
                margin-top: $global-margin;
                    
                &:hover {
                    cursor: pointer;
                    background-color: $gray-color;
                    border-radius: 100%;
                }
            }
        }
    }
}



        
