* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

%card-style {
    background-color: $white-color;
    padding: $global-padding;
    margin-top: $global-margin;
    border-radius: $global-border-radius;
}

%adjusted-img {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

%global-body-style {
    font-family: 'Patua One', 'Arial', cursive, serif;
    padding: 10px;
    background: $body-color;
}