.sponsor-col-33 {
    float: left;
    width: 33.33%;
    margin-top: 5px;
}

.sponsor-img {
    
    width: 70%;
    height: 100px;
    margin-top: $global-margin;
    margin-bottom: $global-margin;
    border-radius: $global-border-radius;
    
    &.platinum {
        background-color: rgba($color: #5eac92, $alpha: 1.0);
    }

    &.gold {
        background-color: rgba($color: #daa71c, $alpha: 1.0);
    }

    &.silver {
        background-color: rgba($color: #5f5f5f, $alpha: 1.0);
    }
}