$main-color: #0a24e9;
$dark-color: #080f44;
$white-color: #e1e2e6;
$gray-color: #585c79;
$main-light-color: #4452d1;
$body-color: #b8b4b4;

$global-border-radius: 4px;

$global-margin: 10px;
$global-padding: 15px;